Client/Client/Connected Services/CFGameServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/Design_Time_Addresses/Server/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8734/Design_Time_Addresses/Server/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfArrayOfstringArrayOfKeyValueOfstringValueTupleOfintintintintintU6ho3Bhd0dMmj3_Sh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfstring" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="ValueTupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
              <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
              <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
              <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
              <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
              <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
            </GenericParameter>
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Item1" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Item2" nillable="true" type="q2:ArrayOfKeyValueOfstringValueTupleOfintintintintintU6ho3Bhd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfArrayOfstringArrayOfKeyValueOfstringValueTupleOfintintintintintU6ho3Bhd0dMmj3_Sh" nillable="true" type="tns:ValueTupleOfArrayOfstringArrayOfKeyValueOfstringValueTupleOfintintintintintU6ho3Bhd0dMmj3_Sh" />
  <xs:complexType name="ValueTupleOfintintintintint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element name="Item2" type="xs:int" />
      <xs:element name="Item3" type="xs:int" />
      <xs:element name="Item4" type="xs:int" />
      <xs:element name="Item5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintintintintint" nillable="true" type="tns:ValueTupleOfintintintintint" />
  <xs:complexType name="ValueTupleOfdateTimeNullableOfdateTimestringintstringintNullableOfbooleanLNfSvwkH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{3}{4}{5}{6}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:dateTime" />
      <xs:element name="Item2" nillable="true" type="xs:dateTime" />
      <xs:element name="Item3" nillable="true" type="xs:string" />
      <xs:element name="Item4" type="xs:int" />
      <xs:element name="Item5" nillable="true" type="xs:string" />
      <xs:element name="Item6" type="xs:int" />
      <xs:element name="Item7" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfdateTimeNullableOfdateTimestringintstringintNullableOfbooleanLNfSvwkH" nillable="true" type="tns:ValueTupleOfdateTimeNullableOfdateTimestringintstringintNullableOfbooleanLNfSvwkH" />
  <xs:complexType name="ValueTupleOfdateTimestringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:dateTime" />
      <xs:element name="Item2" nillable="true" type="xs:string" />
      <xs:element name="Item3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfdateTimestringstring" nillable="true" type="tns:ValueTupleOfdateTimestringstring" />
</xs:schema>